
/* ------- Sidebar ------- */
#sidebar {
    top: 60px;
    position: fixed;
    left: -200px; /* hidden initially */
    width: 200px;
    height: 100vh;
    background: #61A5F2;
    padding: 15px 15px;
    color: white;
    transition: left 0.35s ease;
    border-radius: 0 0 10px 0;
    z-index: 1001;opacity: 0.95;
}

/* Slide in */
#sidebar.active {
    left: 0;
}

/* Arrow Button */
#toggleBtn {
    position: absolute;
    top: 1px;;
    z-index: 1002;
    right: -55px;
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 0 5px 5px 0;
    background: #61A5F2;
    color: white;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: right 0.35s ease, transform 0.35s ease;
}

#toggleBtn.open {
    transform: rotate(180deg);
        border-radius: 5px 0 0 5px ;

}

.side-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;

}
/* Links */
.link {
    display: block;
    color: white;
    padding: 10px 0;
    text-decoration: none;
    font-size: 19px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);

}

.link:hover {
    opacity: 0.7;
}

/* ------- Accordion ------- */
.accordion {
    background: none;
    color: white;
    cursor: pointer;
    padding: 12px 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 19px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);

}

.panel {
    display: none;
    padding-left: 15px;
}

.panel a {
    display: block;
    color: #e6e6e6;
    padding: 8px 0;
    text-decoration: none;
     border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.panel a:hover {
    opacity: 0.7;
}

/* -------- Main Content -------- */
.content {
    top: 80px;
    margin-left: 20px;
    position: relative;
    padding: 40px;
}